<div class="card m-2" id="comments-new">
    <div class="card-body">
        <!-- 댓글 폼-->
        <form>
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input class="form-control form-control-sm" id="new-comment-nickname" />
            </div>
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea class="form-control form" rows="3" id="new-comment-body"></textarea>
            </div>

            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}"/>
            {{/article}}

            <button type="button" class="btn btn-outline-primary btn-sm" id="comment-create-btn">댓글 작성</button>
        </form>
    </div>
</div>

<script>
    {
        //댓글 생성 버튼 변수화
        const commentCreateBtn = document.querySelector("#comment-create-btn");
        commentCreateBtn.addEventListener("click", function() {
            const comment = {
                nickname: document.querySelector("#new-comment-nickname").value,
                body: document.querySelector("#new-comment-body").value,
                article_id: document.querySelector("#new-comment-article-id").value
            };
            console.log(comment);

            //fetch
            const url = "/api/articles/" + comment.article_id + "/comments";
            fetch(url, {
                method: "post",
                body: JSON.stringify(comment),  //comment js객체 => json
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                //http 응답 코드 메시지
                const msg = (response.ok) ? "댓글 등록되었습니다." : "댓글 등록 실패!";
                alert(msg);
                //새로고침
                window.location.reload();
            });
        });

    }
</script>